//colors

$white : #fff;
$black : #000;
$grey : #878787; 
$regent-st-blue : #add8e6;
$river-bed : #48525c;
$yellow-orange : #ffa949;
$forest-green: forestgreen;

$color-text-light : $white;
$color-text-base : $grey;
$color-text-dark : $white;
$color-prim:$yellow-orange;
$color-sec : $river-bed;


$color-border-light : lighten($grey, 35%);
$color-border-dark  : $yellow-orange;

$color-link-default : $yellow-orange;
$color-link-visited : $regent-st-blue;

$color-shadow       : rgba($black,.8);
$color-body         : $white;


//font-stack

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-helvetica : 'Helvetica Neue', $stack-sans-serif;
$stack-homemade : 'HomemadeApple', $stack-helvetica;


//image path

$path-img : '../img';
$path-font : '../fonts';

//breakpoints
$brk-wide : '(max-width: 1024px)';
$brk-narrow : '(max-width: 768px)';